header{ /* CHECK ! ENFIN !*/
    height: 100vh;
    width:100%;
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(48,58,65, 0.801) 60%, rgba(78,66,80,0.911)), url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position-x: -825px;
    background-size: 1400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    .top{
        nav{
            height: 200px;
            width:100%;
            display: flex;
            justify-content: space-between;
            .toplogo{
                margin: 0;
                span{
                    display: none;
                }
                a{
                    width: 200px;
                    height: 136px;
                    display: inline-block;
                    margin: 1em 0 0 1.5em;
                    img{
                        margin:0;
                        padding:0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .navbar{
                width: 100px;
                position: relative;
                display: flex;
                flex-direction: column;
                align-items: center;
                .burger{
                    width: 30px;
                    height: 30px;
                    margin-top: 50px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    background-color: transparent;
                    outline:none;
                    border:none;
                    padding:0;
                    z-index: 2;

                    @include desktop{
                        display:none;
                    }

                    .burgermenu{
                        width: 30px;
                        height: 3px;
                        background-color: $bleu;
                        display: block;
                        margin-left:auto;
                    }
                    .menu1{
                        width:25px;
                        transition: .5s ease-in-out;
                        display: block;
                    }
                    .menu2{
                        transition: all .5s ease-in-out;
                        display:block;
                    }
                    .menu3{
                        width:15px;
                        transition: .5s ease-in-out;
                        display:block;
                    }
                    &:focus{
                        .burgermenu{
                            background-color: $bleu2;
                            position: fixed;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                        }
                        .menu1{
                            width: 42px;
                            transform: translateX(-15px) rotate(-45deg) ;
                            transform-origin: top right;
                            position: relative;
                            top:0;
                        }
                        .menu2{
                            display: none;
                        }
                        .menu3{
                            width: 42px;
                            transform: translateX(-15px) rotate(45deg) ;
                            transform-origin: bottom right;
                            position: relative;
                            bottom: 0px;
                        }
                    }
                }
                .navigation{
                    position: absolute;
                    right: -30em;
                    z-index:1;
                    height: 100vh;
                    width: 100vw;
                    background-color: $bleu;
                    margin: 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: flex-end;
                    padding:0 1em 2em 0;
                    transition: all .5s ease-in-out;
                    li{
                        list-style: none;
                        margin: .5em 0;
                        a{
                            text-decoration: none;
                            text-align: right;
                            @include MontserratBold;
                            font-size: 2rem;
                            color: $bleu2;
                        }
                    }
                    li:last-of-type{
                        padding-bottom: 2em;
                    }
                }
                .recherche{
                    position: absolute;
                    right: -30em;
                    z-index:1;
                    transition: all .5s ease-in-out;
                }
                .burger:focus ~.navigation{
                    right:0px;
                    position:fixed;
                }
                .burger:focus ~.recherche{
                    position:fixed;
                    height: 20px;
                    width: 20px;
                    top: 55%;
                    right: 1em;
                    label{
                        width: 100%;
                        height: 100%;
                        display: block;
                        background-image: url('../img/search.svg');
                        background-repeat: no-repeat;
                        background-size: cover;
                    }
                }
            }
        } 
    }
    .title{
        margin-top: auto;
        margin-bottom: 2em;
        h2{
            color:$bleu;
            width: 250px;
            margin: 0;
            margin-left: auto;
            display: flex;
            flex-direction: column;
            @include MavenPro;
            font-size: 2rem;
            span{
                order: -1;
                font-size: 4rem;
                @include Montserrat;
            }
        }
        p{
            display:none;
        }
    }
    .schedule{
        color:#fff;
        text-decoration: none;
        text-align: center;
        background-color:$bleu;
        padding: 18px 8px;
        width: 200px;
        display: block;
        margin: 0 auto;
        border-radius:50px;
        margin-bottom: 2em;
        box-shadow: 0px 0px 15px -5px #333;
        @include Montserrat;
        text-transform: uppercase;
    }

}