//le header
header{ 
    height: 100vh;
    width:100%;
    margin:0;
    padding:0;
    background-image: linear-gradient(rgba(48,58,65, 0.801) 60%, rgba(78,66,80,0.911)), url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position-x: -825px;
    background-size: 1400px;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    @include desktop{
        height: 70vh;
        background-position-x: 0;
        background-size: cover;
        position: relative;
        overflow: initial;
    }
}

//le logo Kazan
.toplogo{
    margin: 0;
    z-index: 5;
    span{
        display: none;
    }
    a{
        width: 200px;
        height: 136px;
        display: inline-block;
        margin: 1em 0 0 1.5em;
        img{
            margin:0;
            padding:0;
            width: 100%;
            height: 100%;
        }
    }
}

@import 'navigation';

//22>27 August et le petit texte en dessous (plus dans la nav)
.title{
    margin-top: auto;
    margin-bottom: 2em;
    
    @include desktop{
        width: 30vw;
        margin: auto auto 4em auto;
    }
    h2{
        color:$bleu;
        width: 250px;
        margin: 0;
        margin-left: auto;
        display: flex;
        flex-direction: column;
        @include MavenPro;
        font-size: 2rem;
        
        @include desktop{
            width: 500px;
            font-size: 5rem;
            text-align: right;
        }
        span{
            order: -1;
            font-size: 4rem;
            @include Montserrat;
            
            @include desktop{
                order:0;
                font-size: 6rem;
                @include MontserratLight;
            }
        }
    }
    p{
        display:none;
        
        @include desktop{
            display: block;
            text-align: center;
            color: $grisclair;
            font-size: 1.3rem;
            @include MavenPro;
        }
    }
}

//le bouton "see schedule"
.schedule{
    color:#fff;
    text-decoration: none;
    text-align: center;
    background-color:$bleu;
    padding: 18px 8px;
    width: 200px;
    display: block;
    margin: 0 auto;
    border-radius:50px;
    margin-bottom: 2em;
    box-shadow: 0px 0px 15px -5px #333;
    @include Montserrat;
    text-transform: uppercase;

    @include desktop{
        position: absolute;
        left: calc(50% - 113px);
        bottom: -60px;
        z-index: 999;
    }
}

