main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .content{
        width: 100%;
        margin: 3em 0;

        h2{
            text-align: center;
            @include MontserratBold;
            color: $bleu;
        }

        .activites{
            padding: 0;
            list-style: none;
            .act{
                display: block;
                margin-bottom: 1em;

                figure{
                    margin:0;
                    margin-left:2em;
                    background-color: $bleu2;

                    img{
                        display: none;
                    }
                    figcaption{
                        background-color: $gris;
                        padding-left: 2em;
                        height: 100px;
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-self: flex-start;

                        h4, h4+p{
                            display:none;
                        }

                        .more{
                            width: 30px;
                            height: 10px;
                            display: block;
                            position: absolute;
                            top: calc(50%-3px);
                            right: 2em;
                            
                            a{
                                display:none;
                            }
                            .troispoints{
                                width: 25px;
                                height: 10px;
                                display: flex;
                                justify-content: space-between;
                                align-items: center;
                                margin: 0;

                                span{
                                    display: block;
                                    width: 5px;
                                    height: 5px;
                                    background-color: $grisfonce;
                                    border-radius: 5px;
                                }
                            }
                        }

                        h3, p{
                            margin:0;
                        }
                        h3{
                            display: flex;
                            flex-direction: column;
                            align-items: flex-start;
                            color: $grisfonce;
                            @include MontserratBlack;
                            font-size: 1.5em;

                            span{
                                @include Museo;
                                font-size:.8em;
                            }
                        }

                        .city{
                            @include Montserrat;
                            color: $bleu;
                            margin-top: .3em;
                        }

                        
                    }
                }
            }
        }
    }
}