/*-----Mobile First------*/
/*Pour les media queries, il faut rajouter à la fin des déclarations mobile first "@include desktop{déclarations desktop}"*/
body{
    margin:0;
    padding:0;

    @include desktop{
        /*déclarations desktop*/
    }

    img{ /*temporaire*/
        width: 30%;
        height: auto;
    }

    @import 'header';
    @import 'main';
}

.hidden{
    display: none;
}