/*fichier global avec tous les imports*/
@import "mediaquery";
@import "fonts";
@import "couleurs";


/*-----Mobile First------*/
/*Pour les media queries, il faut rajouter à la fin des déclarations mobile first "@include desktop{déclarations desktop}"*/
body{
    margin:0;
    padding:0;
}

@import 'header';
@import 'main';
@import 'footer';
@import 'form';

.hidden{
    display: none;
}