@charset "UTF-8";
/*fichier global avec tous les imports*/
/*Media Query Desktop*/
/*----------Import Montserrat----------*/
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat/Montserrat-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'MontserratBold';
  src: url("../fonts/Montserrat/Montserrat-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: 'MontserratLight';
  src: url("../fonts/Montserrat/Montserrat-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'MontserratBlack';
  src: url("../fonts/Montserrat/Montserrat-Black.ttf") format("truetype");
  font-weight: 900;
}

/*----------Import MavenPro----------*/
@font-face {
  font-family: 'MavenPro';
  src: url("../fonts/maven-pro/MavenPro-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: 'MavenProBold';
  src: url("../fonts/maven-pro/MavenPro-Bold.ttf") format("truetype");
  font-weight: 700;
}

/*----------Import Museo----------*/
@font-face {
  font-family: 'Museo';
  src: url("../fonts/museo/Museo500-Regular.otf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: 'MuseoLight';
  src: url("../fonts/museo/Museo300-Regular.otf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: 'MuseoBold';
  src: url("../fonts/museo/Museo700-Regular.otf") format("truetype");
  font-weight: 700;
}

/*-----Mobile First------*/
/*Pour les media queries, il faut rajouter à la fin des déclarations mobile first "@include desktop{déclarations desktop}"*/
body {
  margin: 0;
  padding: 0;
}

header {
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(48, 58, 65, 0.801)), to(rgba(78, 66, 80, 0.911))), url("../img/header.jpg");
  background-image: linear-gradient(rgba(48, 58, 65, 0.801) 60%, rgba(78, 66, 80, 0.911)), url("../img/header.jpg");
  background-repeat: no-repeat;
  background-position-x: -825px;
  background-size: 1400px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  header {
    height: 70vh;
    background-position-x: 0;
    background-size: cover;
    position: relative;
    overflow: initial;
  }
}

.toplogo {
  margin: 0;
  z-index: 5;
}

.toplogo span {
  display: none;
}

.toplogo a {
  width: 200px;
  height: 136px;
  display: inline-block;
  margin: 1em 0 0 1.5em;
}

.toplogo a img {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

nav {
  height: 200px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media screen and (min-width: 768px) {
  nav {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.navbar {
  width: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .navbar {
    width: 550px;
    height: 100px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    right: 1.5em;
  }
}

.burger {
  width: 30px;
  height: 30px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: transparent;
  background: none;
  outline: none;
  border: none;
  padding: 0;
  z-index: 3;
  opacity: 0;
}

@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }
}

.burger:checked {
  position: fixed;
}

.burger:checked ~ .burgermenu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
  overflow: hidden;
  background: none;
}

@media screen and (min-width: 768px) {
  .burger:checked ~ .burgermenu {
    display: none;
  }
}

.burger:checked ~ .burgermenu .menu1 {
  width: 42px;
  -webkit-transform: translateY(-14px) rotate(-45deg);
          transform: translateY(-14px) rotate(-45deg);
  -webkit-transform-origin: top right;
          transform-origin: top right;
  position: relative;
  top: 0;
  background-color: #284e68;
  z-index: 3;
}

.burger:checked ~ .burgermenu .menu2 {
  display: none;
  z-index: 3;
}

.burger:checked ~ .burgermenu .menu3 {
  width: 42px;
  -webkit-transform: translateY(14px) rotate(45deg);
          transform: translateY(14px) rotate(45deg);
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  position: relative;
  bottom: 0px;
  background-color: #284e68;
  z-index: 3;
}

.burgermenu {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  top: 50px;
}

@media screen and (min-width: 768px) {
  .burgermenu {
    display: none;
  }
}

.burgermenu .menu1 {
  width: 25px;
  height: 3px;
  display: block;
  background-color: #00d8ff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.burgermenu .menu2 {
  display: block;
  background-color: #00d8ff;
  height: 3px;
  width: 100%;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.burgermenu .menu3 {
  width: 15px;
  height: 3px;
  display: block;
  background-color: #00d8ff;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.navigation {
  position: absolute;
  right: 120em;
  z-index: 1;
  height: 100vh;
  width: 100vw;
  background-color: #00d8ff;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 0 1em 5em 0;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .navigation {
    background: none;
    left: 0;
    height: 100px;
    width: 500px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
  }
}

.navigation li {
  list-style: none;
  margin: .5em 0;
}

@media screen and (min-width: 768px) {
  .navigation li {
    margin: 0;
    width: 100%;
    border-right: 1px solid #f297b1;
  }
}

.navigation li a {
  text-decoration: none;
  text-align: right;
  font-family: 'MontserratBold';
  font-weight: 700;
  font-size: 2rem;
  color: #284e68;
}

@media screen and (min-width: 768px) {
  .navigation li a {
    color: #f297b1;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 1em;
    text-align: center;
    width: 120px;
    display: block;
  }
}

.navigation li:last-of-type {
  padding-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .navigation li:last-of-type {
    padding-bottom: 0;
    border: none;
  }
}

.trigger {
  position: absolute;
  right: 120em;
  top: 55%;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  color: #284e68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.6em;
}

@media screen and (min-width: 768px) {
  .trigger {
    right: 0;
    top: 0;
    height: 100px;
    width: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    color: #f297b1;
    font-size: 1.2em;
  }
}

.recherche {
  display: none;
  position: absolute;
  right: 120em;
  top: 55%;
  z-index: 1;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
  .recherche {
    right: 0;
    height: 40px;
    width: 40px;
    display: none;
  }
  .recherche label {
    width: 100%;
    height: 100%;
    display: block;
  }
  .recherche label:after {
    content: "\f002";
    font-family: 'Font Awesome 5 Free';
    font-size: 1.6em;
    color: #f297b1;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
  }
}

.burger:checked ~ .navigation {
  right: 0px;
  position: fixed;
}

.burger:checked ~ .recherche {
  display: none;
  position: fixed;
  height: 30px;
  width: 30px;
  top: 55%;
  right: 1em;
}

.burger:checked ~ .trigger {
  position: fixed;
  height: 30px;
  width: 30px;
  top: 55%;
  right: 1em;
  color: #284e68;
}

.burger:checked ~ .active {
  right: 1em;
  height: 40px;
  min-width: 80vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  background-color: #fff;
}

.active {
  position: absolute;
  right: 120em;
  top: 55%;
  z-index: 1;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

.active button[type=submit] {
  height: 100%;
  width: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: none;
  border: none;
  color: #284e68;
  font-size: 1.6em;
  position: absolute;
  right: 0;
  padding: 0;
}

.active input[type=search] {
  width: 100%;
  height: 100%;
  padding: 0;
  border: none;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #284e68;
  outline: none;
}

.active input[type=search]::-webkit-search-cancel-button {
  display: none;
}

.close {
  height: 100%;
  width: 30px;
  color: #284e68;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.rose {
  background-color: #f297b1;
}

.title {
  margin-top: auto;
  margin-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .title {
    width: 30vw;
    margin: auto auto 4em auto;
  }
}

.title h2 {
  color: #00d8ff;
  width: 250px;
  margin: 0;
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: 'MavenPro';
  font-weight: 400;
  font-size: 2rem;
}

@media screen and (min-width: 768px) {
  .title h2 {
    width: 500px;
    font-size: 5rem;
    text-align: right;
  }
}

.title h2 span {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  font-size: 4rem;
  font-family: 'Montserrat';
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .title h2 span {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 6rem;
    font-family: 'MontserratLight';
    font-weight: 300;
  }
}

.title p {
  display: none;
}

@media screen and (min-width: 768px) {
  .title p {
    display: block;
    text-align: center;
    color: #d6d6d6;
    font-size: 1.3rem;
    font-family: 'MavenPro';
    font-weight: 400;
  }
}

.schedule {
  color: #fff;
  text-decoration: none;
  text-align: center;
  background-color: #00d8ff;
  padding: 18px 8px;
  width: 200px;
  display: block;
  margin: 0 auto;
  border-radius: 50px;
  margin-bottom: 2em;
  -webkit-box-shadow: 0px 0px 15px -5px #333;
          box-shadow: 0px 0px 15px -5px #333;
  font-family: 'Montserrat';
  font-weight: 400;
  text-transform: uppercase;
}

@media screen and (min-width: 768px) {
  .schedule {
    position: absolute;
    left: calc(50% - 113px);
    bottom: -60px;
    z-index: 999;
  }
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content {
  width: 100%;
  margin: 3em 0;
  margin-bottom: 0;
}

@media screen and (min-width: 768px) {
  .content {
    width: 70vw;
  }
}

.content h2 {
  text-align: center;
  font-family: 'MontserratBold';
  font-weight: 700;
  color: #00d8ff;
}

@media screen and (min-width: 768px) {
  .content h2 {
    text-align: left;
  }
}

.activites {
  padding: 0;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .activites {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: (1fr)[3];
        grid-template-rows: repeat(3, 1fr);
    grid-gap: 30px;
  }
}

.act {
  display: block;
  margin-bottom: 1em;
  position: relative;
}

@media screen and (min-width: 768px) {
  .act {
    margin: 0;
  }
}

.act:before {
  content: '\00a0';
  display: block;
  width: 1px;
  height: 100%;
  background-color: #f8f8f8;
  position: absolute;
  left: 1em;
}

@media screen and (min-width: 768px) {
  .act:before {
    display: none;
  }
}

.act figure {
  margin: 0;
  margin-left: 2em;
  background-color: #284e68;
}

@media screen and (min-width: 768px) {
  .act figure {
    margin-left: 0;
  }
}

.act figure img {
  display: none;
}

@media screen and (min-width: 768px) {
  .act figure img {
    display: block;
    width: 100%;
    height: 300px;
    -o-object-fit: cover;
       object-fit: cover;
  }
}

.act figure .card {
  background-color: #f8f8f8;
  padding-left: 2em;
  height: 100px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.act figure .card h4, .act figure .card h4 + p {
  display: none;
}

.act figure .card .more {
  width: 30px;
  height: 10px;
  display: block;
  position: absolute;
  top: 50%;
  right: 2em;
}

@media screen and (min-width: 768px) {
  .act figure .card .more {
    display: none;
    bottom: 1em;
  }
}

.act figure .card .more a {
  display: none;
}

.act figure .card .more .troispoints {
  width: 25px;
  height: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.act figure .card .more .troispoints span {
  display: block;
  width: 5px;
  height: 5px;
  background-color: #737b80;
  border-radius: 5px;
}

.act figure .card h3, .act figure .card p {
  margin: 0;
}

.act figure .card h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #737b80;
  font-family: 'MontserratBlack';
  font-weight: 900;
  font-size: 1.5em;
}

.act figure .card h3 span {
  font-family: 'Museo';
  font-weight: 500;
  font-size: .8em;
  position: relative;
  top: -.4em;
}

.act figure .card .city {
  font-family: 'Montserrat';
  font-weight: 400;
  color: #00d8ff;
  margin-top: .3em;
}

.act figure .card .centerCity {
  color: #d4ce9a;
}

.act figure .card .outCity {
  color: #f899b4;
}

/*En js, prévoir un script qui ajoute dynamiquement la classe .reveal 
aux li qui sont "touch"*/
/*Sur desktop, ajouter la classe .reveal aux li qui sont survolés (hover)*/
.reveal:before {
  background-color: #284e68;
}

@media screen and (min-width: 768px) {
  .reveal:before {
    display: none;
  }
}

.reveal figure {
  position: relative;
  padding: 0 2em;
  height: 650px;
}

@media screen and (min-width: 768px) {
  .reveal figure {
    max-height: 400px;
    height: 100%;
    padding: 0;
    overflow: hidden;
  }
}

.reveal figure img {
  display: block;
  position: absolute;
  top: 110px;
  width: 81%;
  height: 220px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (min-width: 768px) {
  .reveal figure img {
    position: unset;
    top: 0;
    width: 100%;
    height: 100%;
  }
}

.reveal figure .card {
  background: none;
  padding-left: 0;
  height: 100%;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

@media screen and (min-width: 768px) {
  .reveal figure .card {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: #284e68;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}

.reveal figure .card .lieu {
  color: #f8f8f8;
  margin-top: .5em;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .lieu {
    color: white;
    padding: 0 1rem;
  }
}

.reveal figure .card h4 {
  display: block;
  position: absolute;
  top: 330px;
  font-family: 'MontserratBold';
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .reveal figure .card h4 {
    position: unset;
    padding: 0 1em;
  }
}

.reveal figure .card h4 + p {
  display: block;
  position: absolute;
  top: 400px;
  font-family: 'Montserrat';
  font-weight: 400;
  color: #f8f8f8;
}

@media screen and (min-width: 768px) {
  .reveal figure .card h4 + p {
    position: unset;
    color: white;
    padding: 0 1em;
  }
}

@media screen and (min-width: 768px) {
  .reveal figure .card .city {
    display: none;
  }
}

.reveal figure .card .more {
  width: 100%;
  height: 50px;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  top: 85%;
  bottom: 1em;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more {
    height: 50px;
    padding: 0 1em;
    width: 90%;
    top: 80%;
    bottom: 1em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.reveal figure .card .more a {
  display: block;
  color: white;
  text-decoration: none;
  width: 50%;
  font-family: 'Montserrat';
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more a {
    width: 30px;
  }
}

.reveal figure .card .more a:last-of-type {
  text-align: center;
  border-left: 1px solid #f8f8f8;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more a:last-of-type {
    width: 100px;
  }
}

.reveal figure .card .more .troispoints {
  position: absolute;
  right: 0;
  top: -29em;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 15px;
  width: 10px;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more .troispoints {
    position: unset;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: 10px;
    width: 25px;
    margin-left: auto;
    margin-top: auto;
  }
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more .troispoints span {
    background-color: #fff;
  }
}

.reveal figure .card .more .troispoints span:last-of-type {
  display: none;
}

@media screen and (min-width: 768px) {
  .reveal figure .card .more .troispoints span:last-of-type {
    display: unset;
  }
}

.getticket {
  width: 70%;
  height: 90px;
  margin: 0 auto;
  background-color: #284e68;
  position: relative;
  left: 1em;
  top: 40px;
  -webkit-box-shadow: 0px 0px 10px 0px #d6d6d6;
          box-shadow: 0px 0px 10px 0px #d6d6d6;
}

@media screen and (min-width: 768px) {
  .getticket {
    width: 15em;
    left: 0;
  }
}

.getticket a {
  width: 100%;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  background-color: #00d8ff;
  color: #284e68;
  text-decoration: none;
  font-family: 'MontserratBold';
  font-weight: 700;
  text-transform: uppercase;
}

.getticket .payinfos {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.getticket .payinfos img {
  width: 25px;
  height: auto;
  margin: 0 .5em;
}

.getticket .payinfos p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: .5em;
  color: white;
  font-family: 'MontserratBold';
  font-weight: 700;
  text-transform: uppercase;
}

.getticket .payinfos p span {
  color: #00d8ff;
  font-family: 'Montserrat';
  font-weight: 400;
}

/*----------LE FOOTER----------*/
footer {
  background: url("../img/brent-cox-mid.jpg");
  background-color: rgba(40, 78, 104, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(40, 78, 104, 0.7);
          box-shadow: inset 0 0 0 10000px rgba(40, 78, 104, 0.7);
  display: block;
}

@media screen and (min-width: 768px) {
  footer {
    padding-bottom: 3em;
  }
}

footer section {
  width: 80%;
  margin: 0 auto;
  position: relative;
  left: 1em;
}

@media screen and (min-width: 768px) {
  footer section {
    left: 0;
    width: 70vw;
  }
}

.infos {
  padding-top: 6em;
}

@media screen and (min-width: 768px) {
  .infos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.infos img {
  display: none;
}

@media screen and (min-width: 768px) {
  .infos img {
    display: block;
    width: 45%;
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-box-shadow: 0px 0px 10px 0px #d6d6d6;
            box-shadow: 0px 0px 10px 0px #d6d6d6;
  }
}

@media screen and (min-width: 768px) {
  .tourism {
    width: 45%;
  }
}

.tourism div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 20px;
}

@media screen and (min-width: 768px) {
  .tourism div {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    height: auto;
  }
}

.tourism div h3 {
  margin: 0;
  color: white;
  font-family: 'MontserratBold';
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .tourism div h3 {
    font-size: 1.5em;
  }
}

.tourism div img {
  display: block;
  width: 20px;
  height: auto;
  margin-right: 2em;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@media screen and (min-width: 768px) {
  .tourism div img {
    margin-right: 8em;
    margin-left: auto;
    width: 25px;
  }
}

.tourism p {
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: .9em;
}

@media screen and (min-width: 768px) {
  .tourism p {
    font-size: 1em;
  }
}

.tourism p:first-of-type {
  font-family: 'MuseoBold';
  font-weight: 700;
  margin-bottom: 0;
  margin-top: 2em;
}

@media screen and (min-width: 768px) {
  .tourism p:first-of-type {
    font-size: 1.2em;
  }
}

.bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-top: 2em;
  padding-bottom: 2em;
}

@media screen and (min-width: 768px) {
  .bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.bottom img {
  width: 60%;
  margin: 0 auto;
  margin-top: 2em;
  position: relative;
  left: 1em;
}

@media screen and (min-width: 768px) {
  .bottom img {
    width: 15%;
    height: auto;
    left: 0;
    margin-left: auto;
    margin-right: 0;
  }
}

.visit {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  color: white;
  font-family: 'Montserrat';
  font-weight: 400;
  font-size: .9em;
  line-height: 2em;
}

@media screen and (min-width: 768px) {
  .visit {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    font-size: 1em;
    margin-left: 3em;
    margin-bottom: 2em;
  }
}

.visit h4, .visit p {
  margin: 0;
}

.visit h4 {
  font-size: .8em;
}

.follow {
  background-color: #fff;
  border-radius: 10px;
  margin-top: 2em;
  width: 100%;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .follow {
    width: 40%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 170px;
  }
  .follow div:last-of-type {
    margin-right: 2em;
  }
}

.follow h3 {
  margin: 0;
  color: #00d8ff;
  font-family: 'MontserratBold';
  font-weight: 700;
  height: 5em;
  padding-left: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 768px) {
  .follow h3 {
    width: 100%;
  }
}

.follow div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.follow div a {
  color: #284e68;
  font-size: 2.5em;
  margin: 0 .5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
}

.follow div a img {
  width: 40px;
  height: auto;
  margin: 0;
  position: unset;
}

.follow div p {
  color: #284e68;
  font-family: 'Montserrat';
  font-weight: 400;
}

.contact-form {
  padding-top: 4em;
  height: 100vh;
  padding-bottom: 4em;
  background: url("../img/brent-cox-mid.jpg");
  background-color: rgba(40, 78, 104, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: inset 0 0 0 10000px rgba(40, 78, 104, 0.7);
          box-shadow: inset 0 0 0 10000px rgba(40, 78, 104, 0.7);
  display: block;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  font-family: 'Montserrat';
  font-weight: 400;
}

.form h2,
.form h3,
.form p {
  color: white;
  margin: 1vw;
  padding: 0;
}

.form h2 {
  text-transform: uppercase;
}

.form-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.form-fieldset label {
  width: 80%;
  color: white;
  margin-top: 5vw;
}

.form-fieldset label::after {
  content: " *";
  color: #00d8ff;
}

.form-fieldset input {
  width: 100%;
  outline: none;
  background: none;
  border: none;
  border-bottom: 1px solid white;
  color: white;
}

.form-fieldset .submit-btn {
  width: 100%;
  border-radius: 50px;
  margin-top: 6vw;
  padding: 5vw 0;
  border: solid 1px white;
  color: white;
  text-transform: uppercase;
}

.form-fieldset .submit-btn:hover {
  background-color: white;
  color: #2d3a42;
}

.label-min {
  font-size: 0.8rem;
  -webkit-transform: translateY(-2vw);
          transform: translateY(-2vw);
  -webkit-transition: .2s ease;
  transition: .2s ease;
}

.label-contact {
  margin-bottom: 1em;
}

.input-writted {
  border-bottom: 1px solid #00d8ff;
}

#textarea-contact {
  width: 100%;
  background: none;
  color: white;
  border: 1px solid white;
}

.message {
  margin-bottom: 1em;
}

.hidden {
  display: none;
}
/*# sourceMappingURL=style.css.map */